[Unit]
Description=Victron BLE2MQTT service (victron_ble2mqtt compose)
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/n4s1/victron-ble2mqtt-integration
ExecStart=/usr/local/bin/victron-runner.sh
ExecStop=/usr/bin/docker compose -f /home/n4s1/victron-ble2mqtt-integration/docker-compose.victron.yml down
Restart=always
RestartSec=10
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
